.App {
  margin: 0; border: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  border: 1px solid red;
}

.App .header {
  flex: 0 0 auto;
}
.App .header h1 { 
  margin: 0 0 0 5px; 
}
.App .Editors {
  flex: 1 1 auto;
  overflow: scroll;
}
